<div class="zero mt0px"
  ng-repeat="post in MyPage.Model.MyPostList.posts"
  >
  <div class="white-bg w98p auto r5px mt5px mb10px pt1px shadow">
    <!--row start-->
    <div class="row zero mt5px flex-v">
      <div class="col-auto flex ml3p">
        <img class="w60px h60px r60px"
        ng-src="{{post.createdBy | GetPhoto}}"
        >
      </div>
      <div class="col zero f16px ml2p">
        <p class="zero positive bold">
          {{post.createdBy.name}}
        </p>
        <p class="zero darker bold f14px mt2px">
          {{post.createdBy.nickname}}
        </p>
        <p class="zero positive f14px grey mt2px"
        ng-if="true"
        >
          {{post.createdBy.address}}
        </p>
      </div>
      <div class="col-auto align-top mr3p mt5px">
        <p class="zero dark-grey f14px letter-spacing-1">
          {{ post.createdAt | date: 'yyyy.MM.dd'}}
        </p>
      </div>
    </div>
    <!-- row end-->
    <!--row start-->
    <p class="zero f16px darker w90p auto center bold"
    ng-if="true"
    >
      {{post.title}}
    </p>
    <!-- row end-->
    <!--row start-->
    <p class="pre para f14px dark-grey w90p auto mt8px lines-4"> {{post.content}}
    </p>
    <!-- row end-->
    <!--row start-->
    <ion-slide-box class="w90p auto"
      show-pager="true"
      >
      <ion-slide
        ng-repeat="photo in post.photos"
      >
        <img class="w100p block h270px lazy-show"
        ng-src="{{photo.url | Cloudinary600}}"
        >
      </ion-slide>
    </ion-slide-box>
    <!--row end-->
    <!-- row start -->
    <div class="row zero w90p ml5p mt5px mb5px"
    >
      <div class="col-auto"
        ng-click="likePost(post)"
      >
        <p class="zero positive f14px">
        좋아요 {{post.likes}}개
        </p>
      </div>
      <div class="col-auto ml5p"
        ng-click="goToState('Main.PostComment', {post: post.id}, 'forward')"
      >
        <p class="zero grey f14px">
        댓글 {{post.commentsCount}}개
        </p>
      </div>
      <div class="col zero flex-right">
        <div class="col-30 pt5px pb5px"
          ng-click="MyPage.destroyPost(post);"
        >
          <p class="zero center f16px dark">삭제</p>
        </div>
      </div>
    </div>
    <!-- row end -->
    <!-- row start -->
    <div class="row zero rb5px h38px flex-v positive-bg mt0px">
      <div class="col zero flex"
        ng-click="likePost(post)"
        >
        <i class="ion-ios-heart white f20px white"></i>
        <p class="zero center f16px white ml5p">
        좋아요
        </p>
      </div>
      <div class="col zero flex"
        ng-click="goToState('Main.PostComment', {post: post.id}, 'forward')"
        >
        <i class="ion-chatbubble-working white f20px white"></i>
        <p class="zero center f16px white ml5p">
        댓글보기
        </p>
      </div>
    </div>
    <!-- row end -->
  </div>
</div>
<ion-infinite-scroll
  on-infinite="MyPage.loadMoreMyPostList()"
  immediate-check="false"
  ng-if="MyPage.Model.MyPostList.more"
>
</ion-infinite-scroll>
