<ion-view id="event-list"
  cache-view="true"
  hide-back-button="true"
  >
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon"
    ng-click="toggleSideMenu(true)"
    >
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="row zero flex h44px">
      <img class="h24px"
      src="img/header_logo.png"
      >
    </div>
  </ion-nav-title>
  <ion-header-bar class="bar top132px zero white-bg flex-v light-grey-bb">
    <p class="zero center w100p positive f16px bold">이벤트 리스트</p>
  </ion-header-bar>
  <ion-content class="top176px"
    scrollbar-y="false"
  >
    <div class="row zero pb30px ml5p">
      <div class="col zero">
        <div class="row zero mt0px light-grey-bb flex-v"
          ng-repeat="event in EventList.Model.events"
        >
          <div class="col-30 mt5px">
            <img class="w100p block positive-b h70px"
            ng-src="{{event.photos[0].url}}">
          </div>
          <div class="col zero ml3p mt5px">

            <p class="zero f16px darker bold text-overflow">
            {{event.name}}
            </p>
            <p class="zero mt5px dark-grey f14px">
            {{event.address}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>