<ion-view id="event-list"
  cache-view="true"
  hide-back-button="true"
  >
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon"
    ng-click="toggleSideMenu(true)"
    >
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="row zero flex h44px">
      <img class="h24px"
      src="img/header_logo.png"
      >
    </div>
  </ion-nav-title>
  <ion-header-bar class="bar top132px zero white-bg flex-v light-grey-bb">
    <p class="zero center w100p positive f16px bold">이벤트 리스트</p>
  </ion-header-bar>
  <ion-content
    top="176"
    scrollbar-y="false"
  >
    <div class="w100p h100p flex light-grey-bg absolute"
        style="z-index: 2"
        ng-if="EventList.Model.loading"
        >
        <ion-spinner class="spinner-40px mb88px" icon="ripple">
        </ion-spinner>
    </div>
    <div class="row zero pb30px ml5p">
      <div class="col zero">
        <div class="row zero mt0px light-grey-bb flex-v"
          ng-repeat="event in EventList.Model.events"
          ng-click="goToState('Main.EventDetail', {id: event.id}, 'forward')"
        >
          <div class="col-30 mt5px">
            <img class="w100p block positive-b h70px fit lazy-show"
            ng-src="{{event.photos[0].url | Cloudinary300}}">
          </div>
          <div class="col zero ml3p mt5px">

            <p class="zero f13px bold mb5px text-overflow red"
              ng-if="EventList.isNew(event)"
            >
              [NEW]
            </p>
            <p class="zero f16px darker bold text-overflow">
            {{event.title}}
            </p>
            <p class="zero mt5px dark-grey f14px">
            {{event.address}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>