<ion-view id="place-detail"
  cache-view="true"
  hide-back-button="true"
  >
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back"
    ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="row zero flex h44px">
      <img class="h24px"
      src="img/header_logo.png"
      >
    </div>
  </ion-nav-title>
  <ion-content class="pt2px black-bg">
    <div class="w100p h100p flex light-grey-bg absolute"
      style="z-index: 2"
      ng-if="PlaceDetail.Model.loading"
    >
      <ion-spinner class="spinner-40px mb88px" icon="ripple">
      </ion-spinner>
    </div>
    <!-- photos -->
    <ion-slide-box class="w100p auto"
      show-pager="true"
      ng-if="PlaceDetail.Model.loadPhotos"
    >
      <ion-slide
        ng-repeat="photo in PlaceDetail.Model.place.photos"
      >
        <img class="w100p block h240px lazy-show"
        ng-src="{{photo.url | Cloudinary600}}"
        >
      </ion-slide>
    </ion-slide-box>

<!--     <ion-slide-box show-pager="true">
      <ion-slide
        ng-repeat="photo in PlaceDetail.Model.place.photos"
        >
        <img class="h100p w100p"
        ng-src="{{photo.url}}"
        >
      </ion-slide>
    </ion-slide-box>
 -->    <!-- placeName -->
    <div class="row dark-grey-bb flex-v h30px zero pl5p">
      <p class="positive f18px zero">
      {{ PlaceDetail.Model.place.name }}
      </p>
    </div>
    <!-- stars -->
    <div class="row zero mt5px dark-grey-bb pl5p pr5p">
      <div class="col zero">
        <p class="f14px light-grey center mb5px">
        별점
        </p>
        <div class="row zero mb5px">
          <div class="col zero">
            <div class="f10px center positive"
              ng-class="{
                'ion-star': PlaceDetail.Model.place.averageStars >= 0.5,
                'ion-android-star-outline': 
                  (PlaceDetail.Model.place.averageStars < 0.5) ||
                  !Placedetail.Model.place.averageStars
              }"
            ></div>
          </div>
          <div class="col zero">
            <div class="f10px center positive"
              ng-class="{
                'ion-star': PlaceDetail.Model.place.averageStars >= 1.5,
                'ion-android-star-outline': 
                  (PlaceDetail.Model.place.averageStars < 1.5) ||
                  !Placedetail.Model.place.averageStars
              }"
            ></div>
          </div>
          <div class="col zero">
            <div class="f10px center positive"
              ng-class="{
                'ion-star': PlaceDetail.Model.place.averageStars >= 2.5,
                'ion-android-star-outline': 
                  (PlaceDetail.Model.place.averageStars < 2.5) ||
                  !Placedetail.Model.place.averageStars
              }"
            ></div>
          </div>
          <div class="col zero">
            <div class="f10px center positive"
              ng-class="{
                'ion-star': PlaceDetail.Model.place.averageStars >= 3.5,
                'ion-android-star-outline': 
                  (PlaceDetail.Model.place.averageStars < 3.5) ||
                  !Placedetail.Model.place.averageStars
              }"
            ></div>
          </div>
          <div class="col zero">
            <div class="f10px center positive"
              ng-class="{
                'ion-star': PlaceDetail.Model.place.averageStars >= 4.5,
                'ion-android-star-outline': 
                  (PlaceDetail.Model.place.averageStars < 4.5) ||
                  !Placedetail.Model.place.averageStars
              }"
            ></div>
          </div>
        </div>
        <p class="zero positive mb5px center f14px">
        {{ PlaceDetail.Model.place.averageStars }}
        </p>
      </div>
      <div class="col zero flex">
        <div>
          <p class="zero f14px light-grey center mb5px">
            좋아요
          </p>
          <div class="row zero mb10px">
            <div class="col zero right">
              <div class="ion-heart positive f18px"></div>
            </div>
            <div class="col zero left ml5px">
              <div class="positive f16px">
                {{ PlaceDetail.Model.place.likes || 0 }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col zero flex"
        ng-click="goToState('Main.MainTab.PlaceEvent.DaumMap', {id: PlaceDetail.Model.place.id}, 'forward')"
      >
        <div>
          <p class="f14px light-grey center mb3px">
          지도보기
          </p>
          <div class="row zero mb5px">
            <div class="col zero center">
              <div class="ion-map positive f26px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- description -->
    <div class="pl5p pr5p mt5px dark-grey-bb">
      <p class="f16px positive zero mb5px">
      말해줘요 운동하는날
      </p>
      <p class="f14px light-grey pre"> {{ PlaceDetail.Model.place.description }}
      </p>
    </div>
    <!-- 기본 정보 -->
    <div class="pl5p pr5p mt5px dark-grey-bb">
      <p class="zero f14px dark-grey center mb5px">
      기본 정보
      </p>
      <!-- row start -->
      <div class="row zero wrap mb1px mt3px">
        <div class="col-22 flex-v">
          <p class="zero f16px positive">카테고리</p>
        </div>
        <div class="col-auto zero ml5px flex-v"
          ng-repeat="filterObj in PlaceDetail.Model.place.categories"
          >
          <div class="col-auto">
            <img class="h24px block"
            ng-src="{{ PlaceDetail.getCategoryIconImage(filterObj) }}">
          </div>
          <div class="col-auto ml5px">
            <p class="zero f16px light-grey">
            {{filterObj.text}}
            </p>
          </div>
        </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb5px mt4px">
        <div class="col-22">
          <p class="zero f16px positive">시설유형</p>
        </div>
        <div class="col zero ml5px light-grey f16px pre">{{ PlaceDetail.Model.place.placeType }} </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb5px mt8px">
        <div class="col-22">
          <p class="zero f16px positive">이용시간</p>
        </div>
        <div class="col zero ml5px light-grey f16px pre">{{ PlaceDetail.Model.place.openingHours }} </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb5px mt8px">
        <div class="col-22">
          <p class="zero f16px positive">가격</p>
        </div>
        <div class="col zero ml5px light-grey f16px pre">{{ PlaceDetail.Model.place.price }} </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb5px mt8px">
        <div class="col-22">
          <p class="zero f16px positive">이용방법</p>
        </div>
        <div class="col zero ml5px light-grey f16px pre">{{ PlaceDetail.Model.place.usage }} </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb5px mt8px">
        <div class="col-22">
          <p class="zero f16px positive">주소</p>
        </div>
        <div class="col zero ml5px light-grey f16px">
          <p class="zero w100p pre"> {{ PlaceDetail.Model.place.address }} </p>
        </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb5px mt8px"
        ng-click="PlaceDetail.call()"
      >
        <div class="col-22">
          <p class="zero f16px positive">문의전화</p>
        </div>
        <div class="col zero ml5px light-grey f16px pre"> {{ PlaceDetail.Model.place.phone }} </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb5px mt8px"
        ng-click="PlaceDetail.openHomepage();"
      >
        <div class="col-22">
          <p class="zero f16px positive">홈페이지</p>
        </div>
        <div class="col zero ml5px light-grey f16px"
        >
          {{ PlaceDetail.Model.place.homepage }}
        </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb5px mt8px">
        <div class="col-22">
          <p class="zero f16px positive">부대시설</p>
        </div>
        <div class="col zero ml5px light-grey f16px pre"> {{ PlaceDetail.Model.place.utilities }} </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb5px mt8px">
        <div class="col-22">
          <p class="zero f16px positive">주차시설</p>
        </div>
        <div class="col zero ml5px light-grey f16px pre"> {{ PlaceDetail.Model.place.canPark | AppText }} </div>
      </div>
      <!-- row end -->
      <!-- row start -->
      <div class="row zero mb10px mt8px">
        <div class="col-22">
          <p class="zero f16px positive">기타</p>
        </div>
        <div class="col zero ml5px light-grey f16px pre"> {{ PlaceDetail.Model.place.etc || '-'}} </div>
      </div>
      <!-- row end -->
    </div>
    <p class="zero f16px positive center pt15px pb15px"
      ng-click="PlaceDetail.openBlog()"
    >
    자세히 보기 >
    </p>
  </ion-content>

  <ion-footer-bar class="bar-positive footer zero">
    <div class="row zero">
      <div class="col-50 flex"
        ng-if="!PlaceDetail.isFavorite(PlaceDetail.Model.place.id)"
        ng-click="PlaceDetail.likePlace()"
      >
        <div class="ion-heart f26px"></div>
        <p class="zero left ml10px f18px">
        좋아요
        </p>
      </div>

      <div class="col-50 flex"
        ng-if="PlaceDetail.isFavorite(PlaceDetail.Model.place.id)"
        ng-click="PlaceDetail.unlikePlace()"
      >
        <div class="ion-heart f26px red"></div>
        <p class="zero left ml10px f18px red">
        좋아요 취소
        </p>
      </div>

      <div class="col-50 flex light-grey-bl"
        ng-click="goToState('Main.PlaceReview', {
          place: PlaceDetail.Model.place.id,
          placeTitle: PlaceDetail.Model.place.name
        }, 'forward')"
      >
        <div class="ion-chatbubble-working f26px"></div>
        <p class="zero left ml10px f18px">
          리뷰보기
        </p>
      </div>
    </div>
  </ion-footer-bar>
  
</ion-view>