<ion-view id="place-event"
    cache-view="true"
    hide-back-button="true"
    >
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon"
        ng-click="toggleSideMenu(true)"
        >
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <div class="row zero flex h44px">
            <img class="h24px"
            src="img/header_logo.png"
            >
        </div>
    </ion-nav-title>
    <ion-header-bar class="bar top88px zero white-bg flex-v light-grey-bb">
        <div class="row zero h34px dark-b w90p r5px auto">
            <div class="col h33px flex darker"
                ng-class="{'positive-bg': !Main.DaumMapModel.filterByEvent}"
                ng-click="Main.DaumMapModel.filterByEvent = false"
                >
                <p class="zero f16px center bold"
                ng-class="{'white': !Main.DaumMapModel.filterByEvent}"
                >
                다모여스포츠 시설
                </p>
            </div>
            <div class="col h33px flex dark-bl"
                ng-class="{'positive-bg': Main.DaumMapModel.filterByEvent}"
                ng-click="Main.DaumMapModel.filterByEvent = true"
                >
                <p class="zero f16px darker center bold"
                ng-class="{'white': Main.DaumMapModel.filterByEvent}"
                >
                다모여스포츠 이벤트
                </p>
            </div>
        </div>
    </ion-header-bar>
    <ion-nav-view name="PlaceEvent">
    </ion-nav-view>
    <div class="r60px w60px h60px absolute bottom70px right10px flex positive-b5px white-bg shadow">
        <i class="ion-plus f40px positive"></i>
    </div>
</ion-view>