<ion-view id="announcement-detail"
    cache-view="true"
    hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back"
      ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">
      sampleDetail
    </p>
  </ion-nav-title>


  <ion-content class="pt2px">

    <ion-refresher
      ng-if="!SampleDetail.Model.loading"
      on-refresh="SampleDetail.refresh()"
    >
    </ion-refresher>

    <div class="w100p h95vh flex light-grey-bg absolute"
      style="z-index: 2"
      ng-if="SampleDetail.Model.loading"
    >
      <ion-spinner class="spinner-40px mb88px" icon="ripple">
      </ion-spinner>
    </div>

    <!-- row -->
    <div class="row zero pl5p flex-v grey-bb mt0px w100p h60px"
    >
      <div class="w100p">
        <!-- row -->
        <div class="row zero">
          <div class="col-auto">
            <p class="zero positive f18px">
              sampleDetail
            </p>
          </div>
          <div class="col zero ml3p">
            <p class="zero dark-grey f18px">
              {{SampleDetail.Model.post.title || 'test test'}}
            </p>
          </div>
        </div>
        <!-- row -->
        <p class="zero left f12px mt5px dark-grey">
          {{SampleDetail.Model.post.createdAt || '1999.09.09'}}
        </p>
      </div>
    </div>

    <!-- row -->
    <div class="pt5px pb20px pl5p pr5p">
      <p class="zero pre f16px"> {{SampleDetail.Model.post.content}} </p>
    </div>

  </ion-content>
</ion-view>
