<ion-view id="post-list-popular"
  cache-view="true"
  hide-back-button="true"
  >
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon"
    ng-click="toggleSideMenu(true)"
    >
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="row zero flex h44px">
      <img class="h24px"
      src="img/header_logo.png"
      >
    </div>
  </ion-nav-title>
  <ion-content class="light-bg"
    top="132"
    scrollbar-y="false"
  >
    <div class="w100p h100p flex light-grey-bg absolute z-index2"
      ng-if="PostListPopular.Model.loading"
    >
      <ion-spinner class="spinner-40px mb88px" icon="ripple">
      </ion-spinner>
    </div>

    <div class="zero mt0px mb10px"
      ng-repeat="post in PostListPopular.Model.posts"
      >
      <div class="white-bg w98p auto r5px mt5px pt1px shadow">
        <!--row start-->
        <div class="row zero mt5px flex-v">
          <div class="col-auto flex ml3p">
            <img class="w60px h60px r60px block fit"
              ng-src="{{post.createdBy | GetPhoto}}"
            >
          </div>
          <div class="col zero f16px ml2p">
            <p class="zero positive bold">
            {{post.createdBy.name}}
            </p>
            <p class="zero darker bold f14px mt2px">
            {{post.createdBy.nickname}}
            </p>
            <p class="zero positive f14px grey mt2px"
            ng-if="true"
            >
            {{post.createdBy.address}}
            </p>
          </div>
          <div class="col-auto align-top mr3p mt5px">
            <p class="zero dark-grey f14px letter-spacing-1">
            {{ post.createdAt | date: 'yyyy.MM.dd'}}
            </p>
          </div>
        </div>
        <!-- row end-->
        <!--row start-->
        <p class="zero f16px darker w90p auto center bold"
        ng-if="true">{{post.title}}</p>
        <!-- row end-->
        <!--row start-->
        <p class="pre para f14px dark-grey w90p auto mt8px lines-4"> {{post.content}}
        </p>
        <!-- row end-->
        <!--row start-->
        <ion-slide-box class="w90p auto"
          show-pager="true"
          ng-if="PostListPopular.Model.loadPhotos"
          >
          <ion-slide
            ng-repeat="photo in post.photos"
            >
            <img class="w100p block h270px lazy-show"
            ng-src="{{photo.url | Cloudinary600}}"
            >
          </ion-slide>
        </ion-slide-box>
        <!--row end-->
        <!-- row start -->
        <div class="row zero w90p ml5p mt5px mb5px">
          <div class="col-auto"
            ng-click="Favorite.likePost(post)"
          >
            <p class="zero positive f14px">
            좋아요 {{post.likes}}개
            </p>
          </div>
          <div class="col-auto ml5p"
            ng-click="goToState('Main.PostComment', {post: post.id}, 'forward')"
          >
            <p class="zero grey f14px">
              댓글 {{post.commentsCount || 0}}개
            </p>
          </div>
          <div class="col zero flex align-right"
            ng-click="snitch()"
          >
            <img src="img/siren_03.png" class="h20px assertive">
            <p class="zero f16px assertive ml5p">
              Report content
            </p>
          </div>
        </div>
        <!-- row end -->
        <!-- row start -->
        <div class="row zero rb5px h38px flex-v positive-bg mt0px">
          <div class="col zero flex"
            ng-if="!Favorite.isFavorite(post.id)"
            ng-click="Favorite.likePost(post)"
            >
            <i class="ion-ios-heart white f20px"></i>
            <p class="zero center f16px white ml5p">
              좋아요
            </p>
          </div>

          <div class="col zero flex"
            ng-if="Favorite.isFavorite(post.id)"
            ng-click="Favorite.unlikePost(post)"
          >
            <i class="ion-ios-heart f20px red"></i>
            <p class="zero center f16px ml5p red">
              좋아요 취소
            </p>
          </div>

          <div class="col zero flex"
            ng-click="goToState('Main.PostComment', {post: post.id}, 'forward')"
            >
            <i class="ion-chatbubble-working white f20px white"></i>
            <p class="zero center f16px white ml5p">
              댓글쓰기
            </p>
          </div>


        </div>
        <!-- row end -->
      </div>
    </div>
    <ion-infinite-scroll
        on-infinite="PostListPopular.loadMore()"
        immediate-check="false"
        ng-if="PostListPopular.Model.more"
        >
    </ion-infinite-scroll>

  </ion-content>
</ion-view>