<ion-view id="main" class="positive-bg"
    cache-view="true"
    >
    <ion-side-menus>
        <ion-side-menu-content
            edge-drag-threshold="false"
            drag-content="false"
            >
            <!-- Main View -->
            <ion-nav-bar class="bar-positive" align-title="center">
            </ion-nav-bar>
            <ion-nav-view name="Main" class="positive-bg">
            </ion-nav-view>
        </ion-side-menu-content>
        <!-- Side Menu -->
        <ion-side-menu side="left">
            <ion-content class="side-menu-content">
                <!--
                <img class="w100p block"
                src="img/sidemenuimg.png">
                -->
                <p class="zero pl5p darker-bg white f16px pt8px pb8px">
                설정
                </p>
                <div class="row zero h55px flex-v light-grey-bb"
                    ng-click=""
                    >
                    <div class="col-18 flex">
                        <i class="ion-gear-a f20px positive"></i>
                    </div>
                    <div class="col zero">
                        <p class="zero positive bold f18px">
                        프로필 /비밀번호 변경
                        </p>
                    </div>
                </div>
                <div class="row zero h55px flex-v light-grey-bb"
                    ng-click=""
                    >
                    <div class="col-18 flex">
                        <i class="ion-speakerphone f20px positive"></i>
                    </div>
                    <div class="col zero">
                        <p class="zero positive bold f18px">
                        공지사항 리스트
                        </p>
                    </div>
                </div>
                <div class="row zero h55px flex-v light-grey-bb"
                    ng-click=""
                    >
                    <div class="col-18 flex">
                        <i class="ion-ios-list f20px positive"></i>
                    </div>
                    <div class="col zero">
                        <p class="zero positive bold f18px">
                        이용약관
                        </p>
                    </div>
                </div>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>